body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn{
font-weight: 600;
font-size: 15px;
color: #fff;
background-color: #3597ff;
padding: 16px 25px;
border: none;
border-radius: 8px;
align-items: center;
cursor: pointer;
}

.start{
    background-color: #3597FF; 
    height: 440px;
    margin-right: -10px;
    margin-left:-10px ;
}

.main-navbar{   
    display: flex;
    align-items: center; 
    background-color: white;
    padding-right: 200px;
    font-weight: 600;   
}
.main-navbar img{
    padding-left: 400px;
}
.main-navbar li{
    color: black;
    font-size: 12px;    
    transition: color 0.3s;
    
}
.main-navbar li:hover{
    color: #3597FF;
    cursor: pointer;
}
.navbar-links{
    display: flex;
    list-style: none; 
    justify-content: space-evenly;
    flex: 1; 
    padding-right: 0px;
}
ul{
    display: flex;
    list-style: none; 
    justify-content: space-evenly;
    flex: 1; 
    padding-right: 125px;
    padding-left: 125px;
    
}



.main-page{
    
    margin-left: 400px;
    margin-right: 200px;
    box-sizing: border-box;
    font-size: 120%;
    
    
}
.main-page h1{
    color: white !important;
    padding-top: 60px;
    width: 500px;
    font-size: 30px;
    font-weight: 10;
    text-align: left;
    
}
.main-page span{
    font-weight:1000;
    font-size: 25px;
}
.main-page p{
    color: white;
    width: 500px;
    font-size: 15px;
    font-weight:500 ;
}

.why{
    background-color: white !important;
    box-sizing: border-box;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 90px;

}

.why h2,h3{ 
    font-weight: 100;
    font-size: 40px;
}

.why span{
    font-weight: 1000;
}

.OpenLab-text{
    color: #566B8D;
    padding-left: 175px;
    padding-right: 175px;
    line-height: 1.25;
    padding-bottom: 30px;
}

.row span{
    font-size: 16px;
    color: black;
}
.row{
    margin-top: 40px;
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    font-size: 80%;
    color: #566B8D;
}

.container-one{
    display: flex;  
    color: #566B8D;
}

.container-one h3{
    color:black;
}
.vizia-text h3{
    text-align: left;
    padding-left: 100px;
    font-size: 45px;
}

.vizia-text p{
    width: 800px;
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
}
.boxes{
    margin-top: 50px;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    gap: 10px ;
    text-align: right;
    font-size: 20px;      
    
}
.box1{
    width: 230px;
    height: 180px;
    
    background-color: #F1F7FD;
    border-radius: 5px;
    color:#7487A3
    
}
.BoldNumber1, .BoldNumber2, .BoldNumber3,.BoldNumber4{
    margin-top: 25px;
    font-weight: 1000;
    font-size: 90px;
    margin-bottom: -10px;
}

.box2{
    width: 230px;
    height: 180px;
    background-color: #D7F8EB;
    border-radius: 5px;
    color: #5CC19A;
}

.box3{
    width: 230px;
    height: 180px;
    background-color: #F8F3D7;
    border-radius: 5px;
    color: #DBCA68;
}

.box4{
    width: 230px;
    height: 180px;
    background-color: #F8D7D7;
    border-radius: 5px;
    color: #B95E73;
}


/* LABS*/

.container-labs{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    text-align: center;
    gap: 20px;
}
.labs{
    font-size: 40px;
    text-align: left;
    margin-right: 100px;
    margin-left: 150px;
    
}
.labs h4{
    font-weight: 100;
    font-size: 40px;
    margin-bottom:0px;
}

/* HYBRID LAB*/
.hybridLab, .gamesLab, .appsLab{
    width: 250px;
    height: 250px;
    border-radius: 8px;
    background-color: white ;
    text-align: left;
    padding-left: 12px;
    transition: box-shadow 0.3s ease-in-out;
    
    
}
.hybridLab-text{
    color: #566B8D;
    font-size: 16px;
    
}
.hybridLab:hover{
    box-shadow: 0px 0px 28px -7px rgba(0,0,0,0.2);
}
.hybridLab:hover .gg-arrow-long-right{
    color: #3597FF;
    padding-left: 175px;
    
}

/* GAMES LAB*/
.gamesLab-text{
    color: #566B8D;
    font-size: 16px;
    
}
.gamesLab:hover{
    box-shadow: 0px 0px 28px -7px rgba(0,0,0,0.2);
}

.gamesLab:hover .gg-arrow-long-right{
    color: #3597FF;
    padding-left: 175px;
}

/* APPS LAB*/
.appsLab-text{
    color: #566B8D;
    font-size: 16px;
    
}
.appsLab:hover {
    box-shadow: 0px 0px 28px -7px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.appsLab:hover .gg-arrow-long-right{
    color: #3597FF;
    padding-left: 175px;
}

.gg-arrow-long-right{
    color: black;
    transition: color 0.3s ease-in-out;
    transition: padding-left 0.5s ease-in-out;       
}

.container-lokalita h3{
    text-align: center;
}

.container-skoly{
    
    display: flex !important;
    justify-content: space-evenly;
    margin: auto;
    max-width:1420px ;
    
}
.spse-text, .spsit-text{
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}
.spse p, .spsit p{
    display: flex !important;
    font-size: 13px;
    color: #566B8D;
}
.spse i, .spsit i{
    margin-right: 10px;
}
.spse-text p, .spsit-text p{
    max-width: 300px;
    font-size: 18px;
    font-weight: 800;
    text-align: left;
    color: black;
}
.spse-text a, .spsit-text a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-weight: 1000;
    color: #3597FF;
}

.nazor{
    padding-top: 150px;
    background-color: #F3F9FF;
    display: flex;
    flex-direction: column;
}
.nazor span{
    font-weight: 1000;
    
}
.nazor h3{
    text-align: left;
    max-width: 395px;
    max-height: 90px;
    font-size: 35px;
    background-color: #F3F9FF;
    line-height: 0.2;
    
}
.container-nazor{
    box-sizing: border-box;
    max-width: 500px;
    max-height: 800px;
    margin-left: 300px;
    text-align: left;
}

.hmove{
    display: flex;
    position:relative;
    top: 0;        
}
.hslide{ 
    width: 100%;
    flex-shrink: 0; 
}
.hwrap{
    overflow:hidden;
    width: 500px; 
    height: 300px;

}


@keyframes slideh {
  0%   { right: 0; } 
  30%  { right: 100%; }
  33%  { right: 100%; } 
  63%  { right: 100%; }
  66%  { right: 0; }
  100% { right: 0; }
}
 
.hmove{ 
    animation: slideh 10s ease-in-out 10s infinite; 
}

.student-id{
    display: flex;
    align-items: center;
    align-content: flex-end;
    line-height: 0;
}
.student-id h5{
    font-size: 16px;
}
.location, .author{
    padding-left: 10px;
}
.gg-user{
    size: 20px;
}
.nav-btn{
    display: flex;
    justify-content: right;  
    
}
.left{
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    background-color: #3597ff;
    padding: 12px 8px;
    border: none;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
}
.right{
    margin-right: 50px;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    background-color: #3597ff;
    padding: 12px 8px;
    border: none;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    rotate: 180deg;   
}

.container-join{
    background-color: white;
    padding-bottom: 100px;
}

.join-text{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
    line-height: 0.5;
}
.join-text h2{
    font-weight: 100;
    font-size: 30px;
}
.join-text span{
    font-weight: 1000;
    font-size: 30px;
}

.container-cards{
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    margin: auto;
    max-width:1320px ;
    gap: 20px;
    
    
}
.cards {
    border-radius: 8px;
    width: 300px;
    height: 200px;
    padding: 10px;
    display: flex;         
    flex-direction: column;  
    justify-content:space-between; 
    gap: 0;
}

.cards h5 {
    font-size: 18px;
    margin-bottom: 0px; 
}

.cards p {
    color: #7487A3;
    margin-top: 0; 
}

.cards:hover {
    box-shadow: 0px 0px 28px -7px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.cards i {
    font-size: 40px;
    color: #3597FF;
    align-self: flex-start;
}

.cards:hover .gg-arrow-long-right {
    color: #3597FF;
    padding-left: 175px;
}

.cards .gg-arrow-long-right {
    color: #7487A3;
    transition: color 0.3s ease-in-out;
    transition: padding-left 0.5s ease-in-out;
}

.slide{
  display: flex;
  flex-direction: row;
}

.slide-1-text{
  position:absolute;
  background-color: #A54FA2;
  color: white;
  max-width: 585px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 40px 32px;
  left: -18px;
  width: 65%;
  height: 100%;
  border: 1px solid rgba(0,0,0,0.125);
  box-sizing: border-box;
  bottom: 25%;
}

.slide-1-text h3{
  font-size: 30px;
  font-weight: bold;
}
.slide-1-text span{
  font-size: 18px;
  font-weight: bold;
}
.slide figure{
  height: 500px;
  width: 75%;
  border-radius: 19px;
  display: block !important;
  overflow: hidden;
}
.slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline;
  max-width: 100%;
  vertical-align: middle;
}











