body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn{
font-weight: 600;
font-size: 15px;
color: #fff;
background-color: #3597ff;
padding: 16px 25px;
border: none;
border-radius: 8px;
align-items: center;
cursor: pointer;

}

.start {
    background-color: #3597FF;
    margin: 0; 
    height: 400px;
    margin-left: -10px;
    margin-right: -10px;
}

.main-navbar {
    
    display: flex;
    align-items: center; 
    background-color: white;
    padding-right: 200px;
    font-weight: 600;

    
}
.main-navbar img{
    margin-left: 400px;
}

.main-navbar a {
    margin-right: 40px;
    
}

.main-navbar li{
    color: black;
    font-size: 15px;    
    transition: 0.3s;
}
.main-navbar li:hover{
    color: #3597FF;
    cursor: pointer;
    
}

ul{
    display: flex;
    list-style: none; 
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
    flex: 1;
    
    
}

.main-page{
    
    margin-left: 400px;
    margin-right: 200px;
    box-sizing: border-box;
    font-size: 120%;
    
    
}
.main-page h1{
    color: white !important;
    margin-top: 60px;
    width: 300px;
    font-size: 20px;
    font-weight: 200;
    text-align: left;
    
}
.main-page span{
    font-weight: 800;
    font-size: 25px;
}
.main-page p{
    color: white;
    width: 300px;
}

.why{
    background-color: white !important;
    box-sizing: border-box;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;

}

.why h2,h3{ 
    font-weight: 300;
}

.why span{
    font-weight: 1000;
}

.OpenLab-text{
    color: #566B8D;
    margin-left: 300px;
    margin-right: 300px;
}

.row span{
    font-size: 16px;
    color: black;
}
.row{
    margin-top: 40px;
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    font-size: 80%;
    color: #566B8D;
}

.container-one{
    display: flex;  
    color: #566B8D;
}

.container-one h3{
    color:black;
}
.vizia-text h3{
    text-align: left;
    margin-left: 100px;
    font-size: 45px;
}

.vizia-text p{
    width: 800px;
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
}
.boxes{
    margin-top: 50px;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    gap: 10px ;
    text-align: right;
    font-size: 20px;      
    
}
.box1{
    width: 230px;
    height: 180px;
    
    background-color: #F1F7FD;
    border-radius: 5px;
    color:#7487A3
    
}
.BoldNumber1, .BoldNumber2, .BoldNumber3,.BoldNumber4{
    margin-top: 25px;
    font-weight: 1000;
    font-size: 90px;
    margin-bottom: -10px;
}

.box2{
    width: 230px;
    height: 180px;
    background-color: #D7F8EB;
    border-radius: 5px;
    color: #5CC19A;
}

.box3{
    width: 230px;
    height: 180px;
    background-color: #F8F3D7;
    border-radius: 5px;
    color: #DBCA68;
}

.box4{
    width: 230px;
    height: 180px;
    background-color: #F8D7D7;
    border-radius: 5px;
    color: #B95E73;
}


/* LABS*/

.container-labs{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    text-align: center;
    gap: 20px;
}
.labs{
    font-size: 40px;
    text-align: left;
    margin-right: 100px;
    margin-left: 150px;
    
}
.labs h4{
    font-weight: 100;
    font-size: 40px;
    margin-bottom:0px;
}

/* HYBRID LAB*/
.hybridLab, .gamesLab, .appsLab{
    width: 250px;
    height: 250px;
    border-radius: 8px;
    background-color: white ;
    text-align: left;
    padding-left: 12px;
    transition: box-shadow 0.3s ease-in-out;
    
    
}
.hybridLab-text{
    color: #566B8D;
    font-size: 16px;
    
}
.hybridLab:hover{
    box-shadow: 0px 0px 28px -7px rgba(0,0,0,0.2);
}
.hybridLab:hover .gg-arrow-long-right{
    color: #3597FF;
    padding-left: 175px;
    
}

/* GAMES LAB*/
.gamesLab-text{
    color: #566B8D;
    font-size: 16px;
    
}
.gamesLab:hover{
    box-shadow: 0px 0px 28px -7px rgba(0,0,0,0.2);
}

.gamesLab:hover .gg-arrow-long-right{
    color: #3597FF;
    padding-left: 175px;
}

/* APPS LAB*/
.appsLab-text{
    color: #566B8D;
    font-size: 16px;
    
}
.appsLab:hover {
    box-shadow: 0px 0px 28px -7px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.appsLab:hover .gg-arrow-long-right{
    color: #3597FF;
    padding-left: 175px;
}

.gg-arrow-long-right{
    color: black;
    transition: color 0.3s ease-in-out;
    transition: padding-left 0.5s ease-in-out;       
}






